.gallery {
    height: 80vh;
    width: 100vw;
    background-color: transparent;
    margin: 0rem;
    overflow: hidden;
}

.image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    width: max-content;
    user-select: none;
}

.image-track > .image {
    width: 50vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}
